<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">

</head>
<body class="flex flex-col bg-gray-100">
    <!--Nav Bar-->
    <nav class="bg-green-600 p-4 text-white flex justify-between ">
        <div >
            <h1 class="md:text-3xl md:font-bold text-xl ">AI Blog Generator</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>
    <!--Main Content-->
    <div class="container mx-auto mt-10 px-4">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <section>
                <h2 class="text-xl font-semibold mb-4">Blog Post Details</h2>
                <div class="p-5 bg-white rounded-lg border border-gray-300">
                    <h3 class="text-xl font-semibold">Blog Post Title</h3>
                    <p class="text-gray-700">This is the content</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-xl font-semibold">Youtube Title</h4>
                    <p class="text-gray-700 mb-4">Title of the associated youtube video</p>
                    <h4 class="text-xl font-semibold">Youtube Link</h4>
                    <a href="https://www.youtube.com/watch?v=ftKiHCDVwfA&list=PPSV" class="text-blue-700 hover:underline">https://www.youtube.com/watch?v=ftKiHCDVwfA&list=PPSV</a>
                </div>
            </section>
        </div>
    </div>
    <footer class="text-center mt-10 ">
        &copy; All Rights Reserved By Abi
    </footer>
</body>
</html>